// Describes the main menu.
// Detailed field information can be found at https://docs.amethyst.rs/master/amethyst_ui/enum.UiWidget.html
// and related pages.

#![enable(implicit_some)]
Container(
    transform: (
        id: "background",
        anchor: Middle,
        stretch: XY(x_margin: 0.0, y_margin: 0.0, keep_aspect_ratio: false),
    ),
    background: SolidColor(0.03, 0.03, 0.03, 1.0),
    children: [

        Label(
            transform: (
                id: "title_label",
                y: -40,
                height: 400,
                width: 800,
                anchor: TopMiddle,
            ),
            text: (
                text: "FossXO",
                font_size: 75,
                color: (1.0, 0.65, 0.0, 1.0),
                line_mode: Wrap,
                align: Middle,
            )
        ),

        // === start game mode group ===
        // Single-player button
        Container(
            transform: (
                id: "single_player_container",
                y: 170,
                width: 600.0,
                height: 75.0,
                anchor: Middle,
            ),
            background: SolidColor(1.0, 0.65, 0.0, 1.0),
            children: [
                Button(
                    transform: (
                        id: "single_player_button",
                        width: 596.0,
                        height: 71.0,
                        tab_order: 1,
                        anchor: Middle,
                        mouse_reactive: true,
                    ),
                    button: (
                        text: "Single-player",
                        font_size: 50.0,
                        normal_text_color: (1.0, 0.65, 0.0, 1.0),
                        normal_image: SolidColor(0., 0.0, 0.0, 1.0),
                        hover_image: SolidColor(0.1, 0.1, 0.1, 1.0),
                        press_image: SolidColor(0.15, 0.15, 0.15, 1.0),
                    )
                ),
            ],
        ),
        // Multiplayer button
        Container(
            transform: (
                id: "multiplayer_container",
                y: 90,
                width: 600.0,
                height: 75.0,
                anchor: Middle,
            ),
            background: SolidColor(1.0, 0.65, 0.0, 1.0),
            children: [
                Button(
                    transform: (
                        id: "multiplayer_button",
                        width: 596.0,
                        height: 71.0,
                        tab_order: 2,
                        anchor: Middle,
                        mouse_reactive: true,
                    ),
                    button: (
                        text: "Multiplayer",
                        font_size: 50.0,
                        normal_text_color: (1.0, 0.65, 0.0, 1.0),
                        normal_image: SolidColor(0., 0.0, 0.0, 1.0),
                        hover_image: SolidColor(0.1, 0.1, 0.1, 1.0),
                        press_image: SolidColor(0.15, 0.15, 0.15, 1.0),
                    )
                ),
            ],
        ),
        // === end game mode group ===

        // === start support group ===
        // Credits button
        Container(
            transform: (
                id: "credits_container",
                y: -10,
                width: 600.0,
                height: 75.0,
                anchor: Middle,
            ),
            background: SolidColor(1.0, 0.65, 0.0, 1.0),
            children: [
                Button(
                    transform: (
                        id: "credits_button",
                        width: 596.0,
                        height: 71.0,
                        tab_order: 10,
                        anchor: Middle,
                        mouse_reactive: true,
                    ),
                    button: (
                        text: "Credits",
                        font_size: 50.0,
                        normal_text_color: (1.0, 0.65, 0.0, 1.0),
                        normal_image: SolidColor(0., 0.0, 0.0, 1.0),
                        hover_image: SolidColor(0.1, 0.1, 0.1, 1.0),
                        press_image: SolidColor(0.15, 0.15, 0.15, 1.0),
                    )
                ),
            ],
        ),
        // Help button
        Container(
            transform: (
                id: "help_container",
                y: -90,
                width: 600.0,
                height: 75.0,
                anchor: Middle,
            ),
            background: SolidColor(1.0, 0.65, 0.0, 1.0),
            children: [
                Button(
                    transform: (
                        id: "help_button",
                        width: 596.0,
                        height: 71.0,
                        tab_order: 11,
                        anchor: Middle,
                        mouse_reactive: true,
                    ),
                    button: (
                        text: "Help",
                        font_size: 50.0,
                        normal_text_color: (1.0, 0.65, 0.0, 1.0),
                        normal_image: SolidColor(0., 0.0, 0.0, 1.0),
                        hover_image: SolidColor(0.1, 0.1, 0.1, 1.0),
                        press_image: SolidColor(0.15, 0.15, 0.15, 1.0),
                    )
                ),
            ],
        ),
        // === end support group ===

        // Exit button
        Container(
            transform: (
                id: "exit_container",
                y: 50,
                width: 600.0,
                height: 75.0,
                anchor: BottomMiddle,
            ),
            background: SolidColor(1.0, 0.65, 0.0, 1.0),
            children: [
                Button(
                    transform: (
                        id: "exit_button",
                        width: 596.0,
                        height: 71.0,
                        tab_order: 30,
                        anchor: Middle,
                        mouse_reactive: true,
                    ),
                    button: (
                        text: "Exit",
                        font_size: 50.0,
                        normal_text_color: (1.0, 0.65, 0.0, 1.0),
                        normal_image: SolidColor(0., 0.0, 0.0, 1.0),
                        hover_image: SolidColor(0.1, 0.1, 0.1, 1.0),
                        press_image: SolidColor(0.15, 0.15, 0.15, 1.0),
                    )
                ),
            ],
        ),
    ],
)
