#![enable(implicit_some)]
// Detailed field information can be found at https://docs.amethyst.rs/master/amethyst_ui/enum.UiWidget.html and related pages
Container(
    transform: (
        id: "background",
        anchor: Middle,
        stretch: XY( x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
        width: 20.,
        height: 20.,
    ),
    // background: SolidColor(0.03, 0.03, 0.03, 1.0),
    children: [

    ],
)
